
<div class="container">

  <div class="copyrights">
    <p>We make node.js accessible to all. And we love Open Source.</p>
    <p>&copy; Company 2012 NodeDocs. Protected by <a href="http://creativecommons.org/">Creative Commons 3.0</a></p>

    <p class="powered">Powered by <a href="https://github.com/hubbleio/hubble.io" class="ir">hubble.io<span></span></a></p>
    <p class="supported">Supported by <a href="http://nodejitsu.com/" class="ir">Nodejitsu<span></span></a> </p>
  </div>
  <!-- / copyrights -->


  <ul class="navbar unstyled">
    <li><a href="/about">About</a></li>
    <li><a data-toggle="modal" href="#contactModal" class="contact">Contact</a></li>
    <li><a href="#" class="twitter">Twitter</a></li>
    <li><a href="#" class="github">Github</a></li>
  </ul>

</div> <!-- /container -->