<div class="row-fluid content">

  <div class="span8" role="main">

    <section>
      <h1>About NodeDocs</h1>

      <p class="intro">NodeDocs is an educational resource designed to make you immediately productive with <strong>Node.js</strong> and help you understand how all the pieces fit together.</p>

      <p>We believe in a positive of learning, teaching, and helping one another improve. All guides were contributed by accomplished Node developers and curated by Pedro Texeira with support from Paolo Fragomeni, Ana Hevesi, Nuno Job, and Karolina Szczcur.</p>

      <p>We want you to join us in making NodeDocs a constantly improving resource for the whole community. Submit a guide, or share an idea for helpful material.</p>

    </section>


    <section>
      <h2>Contributors</h2>
      <p class="intro">Wonderful people who made NodeDocs possible.</p>

      <div id="members">
          <div role="member" class="member span4">
            <div class="box">
              <img class="avatar" src="img/.jpg" width="65" height="65" alt="">
              <div class="meta">
                <h3 class="name">John Doe</h3>
                <p class="role">Coder</p>
                <ul class="unstyled clearfix">
                  <li class="twitter"><a class="twitter-a" href="#" title="Twitter account">Twitter</a></li>
                  <li class="github"><a class="github-a" href="#" title="Github account">Github</a></li>
                </ul>
              </div>
              <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra risus eget felis sodales varius. Donec feugiat vehicula adipiscing. Praesent lacus ante.</p>
            </div>
          </div>
        </div>
      </div>

    </section>


  </div>
  <!-- /.span6 -->

  <div class="span4" role="complementary">
    <h2>Supporters</h2>
    <p>These companies are supporting NodeDocs project. Wanna become one of the backers? <a data-toggle="modal" href="#contactModal" >Contact us!</a></p>
    <a href="http://nodejitsu.com" title="Nodejitsu"><img src="img/logo_nodejitsu.png" width="252" height="62" alt="Nodejitsu"></a>

  </div>
  <!-- /.span4 -->

</div>