<div class="breadcrumbs">
</div>

<div class="row-fluid content">
  <div class="span8" role="main">
    <article class="article-body"></article>
  </div>
  <!-- /.span8 -->      
  
  <div class="span4" role="complementary">
    <h2>Authors</h2>
    <div class="author"></div>
  </div>
  <!-- /.span4 -->

  <div class="span4">
    <div class="actions">
      <a href="" class="btn star"><span></span>Star this article</a>
      <a href="" class="btn fork"><span></span>Fork it</a>
      <a href="/to-github" class="btn github"><span></span>In GitHub</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="nodejitsu">Tweet</a>
    </div>
    <!-- /.actions -->
  </div>

</div>
<!-- / row -->

<div class="modal fade" id="forkModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal"></button>
    <h2>Fork this article</h2>
  </div>

  <div class="alert not-loggedin">
    <button class="close" data-dismiss="alert">×</button>
    <p>But first, it seems that you haven’t logged in yet. <a href="/auth/github">Do that with your Github account &rsaquo;</a></p>
  </div>

  <div class="modal-body">
  </div>

  <div class="modal-footer">
  </div>

</div>