<div class="row-fluid content">
  <div class="span12" role="main">
    <h1>Contributors</h1>
    <p class="intro">Wonderful people, without them NodeGuides wouldn't exist.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra risus eget felis sodales varius. Donec feugiat vehicula adipiscing. Praesent lacus ante, tempor vitae commodo at, tempus nec risus. Vestibulum id lorem nisi, a consequat nulla. Morbi eu hendrerit lectus. Fusce placerat enim et risus facilisis vitae congue felis feugiat. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra risus eget felis sodales varius. Donec feugiat vehicula adipiscing. Praesent lacus ante, tempor vitae commodo at, tempus nec risus. Vestibulum id lorem nisi, a consequat nulla. Morbi eu hendrerit lectus. Fusce placerat enim et risus facilisis vitae congue felis feugiat.</p>        

    <section class="contributors-listing">
      <div class="span4 contributor nomargin">
        <div class="box">
          <img src="img/.jpg" width="65" height="65" alt="" />
          <div class="meta">
            <h3>John Doe</h3>
            <ul class="unstyled clearfix">
              <li><a href="#" title="Twitter account">Twitter</a></li>
              <li><a href="#" title="Github account">Github</a></li>
              <li>15 guides written</li>
            </ul>               
          </div>
          <!-- /.meta -->
          
          <div class="articles">
            <h3>All articles</h3>
            <ul class="unstyled">
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
            </ul>
            
            <ul class="unstyled all-articles-1 collapse">
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
            </ul>
            
            <button class="btn btn-all-articles" data-toggle="collapse" data-target=".all-articles-1">See all articles</button>
            
          </div>
         <!-- /.articles -->
          
        </div>
        <!-- /.box.member -->
      </div>
      <!-- /.span4 -->

      <div class="span4 contributor">
        <div class="box">
          <img src="img/.jpg" width="65" height="65" alt="" />
          <div class="meta">
            <h3>John Doe</h3>
            <ul class="unstyled clearfix">
              <li><a href="#" title="Twitter account">Twitter</a></li>
              <li><a href="#" title="Github account">Github</a></li>
              <li>15 guides written</li>
            </ul>               
          </div>
          
          <div class="articles">
            <h3>All articles</h3>
            <ul class="unstyled">
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
            </ul>
            
            <ul class="unstyled all-articles-2 collapse">
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
            </ul>
            
            <button class="btn btn-all-articles" data-toggle="collapse" data-target=".all-articles-2">See all articles</button>
            
          </div>
         <!-- /.articles -->

        </div>
        <!-- /.box.member -->
      </div>
      <!-- /.span4 -->

      <div class="span4 contributor">
        <div class="box">
          <img src="img/.jpg" width="65" height="65" alt="" />
          <div class="meta">
            <h3>John Doe</h3>
            <ul class="unstyled clearfix">
              <li><a href="#" title="Twitter account">Twitter</a></li>
              <li><a href="#" title="Github account">Github</a></li>
              <li>15 guides written</li>
            </ul>               
          </div>

          <div class="articles">
            <h3>All articles</h3>
            <ul class="unstyled">
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
            </ul>
            
            <ul class="unstyled all-articles-3 collapse">
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
              <li><a href="#">Quisque ut condimentum elit et malesuada fames</a></li>
              <li><a href="#">Quisque ut condimentum elit</a></li>
            </ul>
            
            <button class="btn btn-all-articles" data-toggle="collapse" data-target=".all-articles-3">See all articles</button>
            
          </div>
         <!-- /.articles -->

        </div>
        <!-- /.box.member -->
      </div>
      <!-- /.span4 -->        
    </section>      
      
  </div>
  <!-- /.span12 -->
</div>