<div class="row-fluid content">

  <div class="span8" role="main">
    <h1>FAQ</h1>
    <p class="intro">Here you can check how NodeGuides work and how to properly submit your article.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra risus eget felis sodales varius. Donec feugiat vehicula adipiscing. Praesent lacus ante, tempor vitae commodo at, tempus nec risus. Vestibulum id lorem nisi, a consequat nulla. Morbi eu hendrerit lectus. Fusce placerat enim et risus facilisis vitae congue felis feugiat.</p>          
    
    <h2>How it works</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam lacinia mauris vel nibh viverra facilisis. Integer iaculis suscipit lacus, at porta nisi pharetra in. Quisque ut condimentum elit.</p>
    
    <h2>How to prepare your article</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra risus eget felis sodales varius. Donec feugiat vehicula adipiscing. Praesent lacus ante, tempor vitae commodo at, tempus nec risus. Vestibulum id lorem nisi, a consequat nulla. Morbi eu hendrerit lectus. Fusce placerat enim et risus facilisis vitae congue felis feugiat.</p>          
  </div>
  <!-- /.span8 -->      
  
  <div class="span4" role="complementary">
    <h2>Dummy content</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam lacinia mauris vel nibh viverra facilisis. Integer iaculis <a href="#">suscipit lacus</a>, at porta nisi pharetra in. Quisque ut condimentum elit.</p>
  </div>
  <!-- /.span4 -->

</div>