<div class="row-fluid content">

  <div class="span8" role="main">
    <h1>FAQ</h1>

    <h2>What is Node Guides?</h2>
    
    <p>Node Guides is a collection of tutorials designed to give developers of all levels the knowledge they need to get up and running with Node.js. The effort was lead by Pedro Texeira and all guides were contributed by developers in the the Node.js community.</p>

    <h2>I've found an error in one of the articles. What should I do?</h2>
    
    <p>Fork it using the fork button. Then head out to your version of the repo on Github, make some changes, commit them and then make a pull request. We'll take care of the rest.</p>

    <h2>I'd like to contribute to Node Guides. What should I do?</h2>
    
    <p>First, sign in via your GitHub account. NodeGuides runs on Hubble.IO, a content management system based on Github. Check the hubble.io documentation. If you don't have a GitHub account go to github.com and signup.</p> 

    <p>Once you're signed in through GitHub, click on the "Submit an Article" button on the top menu, fill in the title, description and body of the article in markdown format. Click on the preview button to make sure your article renders correctly.</p>
    <p>Then click on the "Submit article" button. We'll get back to you!</p>

    <h2>I have an idea for an article I'd like to see. What should I do?</h2>
    
    <p>Click on the "Request an article" button on the top menu. Fill in as much details of what you desire as possible and click on the "Submit request" button. We'll get back to you!</p>

    <h2>I've found a bug in Hubble.IO. What should I do?</h2>

    <p>If you have a fix, go through the normal Github cycle: Fork, commit and pull request.
    If not, make sure that there is no duplicate and file an issue.</p>

  </div>
  <!-- /.span8 -->      
  

</div>