<div class="hero-unit clearfix">

  <div class="intro">
    <h1>Node.js guides for developers</h1>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="nodejitsu">Tweet</a> 
    <p>Node Guides and FAQ are designed to make you immediately productive with <strong>Node.js</strong>, to help you understand how all pieces fit together. You can browse categories or choose the level of difficulty.</p>    
  </div>
  
  <div class="buttons-container github" id="sign-in-with-github">
    <p><a class="btn btn-large" href="/auth/github">Sign in with Github</a></p>
    <p>To vote and contribute to <strong class="title">Whatever</strong></p>
  </div>
  

</div>

<div class="row-fluid home">

  <div class="span4">
    <div class="box">
      <h2>Beginner</h2>
      <p><span id="beginner-intro"></span> <a href="/levels/beginner">Get to know the basics &rsaquo;</a></p>   
    </div>
    <!-- /.box -->
    <div class="topic-cloud">
      <p><strong>Topics include:</strong>  <span id="beginner-some-articles"></span> and more..</p>
    </div>
    <!-- /.cloud -->
  </div>
  
  <div class="span4">
    <div class="box">
      <h2>Intermediate</h2>
      <p><span id="intermediate-intro">Already familiar with Node?</span> Check out <a href="/levels/intermediate">more advanced set of tutorials and walkthroughs &rsaquo;</a></p>           
    </div>
    <!-- /.box -->
    <div class="topic-cloud">
      <p><strong>Topics include:</strong>  <span id="intermediate-some-articles"></span>..</p>
    </div>
    <!-- /.cloud -->  
 </div>
 
  <div class="span4">
    <div class="box">
      <h2>Expert</h2>
      <p><span id="expert-intro">Kickass Node developer? There’s also something interesting for you!</span> <a href="/levels/expert">Check out the hardcore stuff &rsaquo;</a></p>                
    </div>
    <!-- /.box -->
    <div class="topic-cloud">
      <p><strong>Topics include:</strong>  <span id="expert-some-articles"></span>..</p>
    </div>
    <!-- /.cloud -->  
  </div>
  
</div>
<!-- / row -->

<div class="row-fluid home">
  
  <div class="span4 guides" id="guides-popular">
    <h2>Popular Guides</h2>
    <div class="article">
      <p><a class="article-title" href="#"></a></p>
      <p class="meta">by <span class="author"><span class="authors"><a class="author-name" href="">Author Name</a></span></span> <span class="published-when">when here</span></p>
      <p class="article-intro"></p>
    </div>
  </div>
  
  <div class="span4 guides" id="guides-new">
    <h2>New Guides</h2>
    <div class="article">
      <p><a class="article-title" href="#"></a></p>
      <p class="meta">by <span class="author"><span class="authors"><a class="author-name" href="">Author Name</a></span></span> <span class="published-when">when here</span></p>
      <p class="intro"></p>
    </div>

  </div>

  <div class="span4 contributors" id="contributors">
    <h2>Contributors</h2>
    <ul class="unstyled" class="author-list">
      <li class="author-avatar"><a class="author-link" href=""><img src="" class="avatar"></img></a></li>
    </ul>
  </div>
  
</div>
<!-- / row -->