<div class="hero-unit clearfix">

  <div class="intro">
    <h1>Node.js guides for developers</h1>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="nodejitsu">Tweet</a> 
    <p>Node Guides and FAQ are designed to make you immediately productive with <strong>Node.js</strong>, to help you understand how all pieces fit together. You can <a href="#">browse categories</a> or <a href="#">choose the level of difficulty</a>.</p>    
  </div>
  
  <div class="buttons-container github">
    <p><a class="btn btn-primary btn-large">Sign in with Github</a></p>
    <p>To vote and contribute to <strong>NodeGuides</strong></p>          
  </div>
  

</div>

<div class="row-fluid home">

  <div class="span4">
    <div class="box">
      <h2>Beginner</h2>
      <p>Are you starting your journey with Node? If yes, this section of guides is for you! <a href="#">Get to know the basics &rsaquo;</a></p>   
    </div>
    <!-- /.box -->
    <div class="topic-cloud">
      <p><strong>Topics include:</strong>  Globals, Console Module, Buffers, Node Module systems and more..</p>
    </div>
    <!-- /.cloud -->
  </div>
  
  <div class="span4">
    <div class="box">
      <h2>Intermediate</h2>
      <p>Already familiar with Node? Check out <a href="#">more advanced set of tutorials and walkthroughs &rsaquo;</a></p>           
    </div>
    <!-- /.box -->
    <div class="topic-cloud">
      <p><strong>Topics include:</strong>  Asynchronous iterations, Command-line arguments and arguments..</p>
    </div>
    <!-- /.cloud -->  
 </div>
 
  <div class="span4">
    <div class="box">
      <h2>Expert</h2>
      <p>Kickass Node developer? There’s also something interesting for you! <a href="#">Check out the hardcore stuff &rsaquo;</a></p>                
    </div>
    <!-- /.box -->
    <div class="topic-cloud">
      <p><strong>Topics include:</strong>  Asynchronous iterations, Command-line arguments and arguments..</p>
    </div>
    <!-- /.cloud -->  
  </div>
  
</div>
<!-- / row -->

<div class="row-fluid home">
  
  <div class="span4 guides" id="guides-popular"></div>
  
  <div class="span4 guides" id="guides-new"></div>

  <div class="span4 contributors">
    <h2>Contributors</h2>
    <ul class="unstyled">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  
</div>
<!-- / row -->