<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title id="title">Hubble.IO - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
        
          <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <a class="brand" href="/" id="orgname">Hubble.IO</a>
          <div class="nav-collapse">
            <ul class="nav" role="navigation">
              <li><a href="#categories" data-toggle="collapse" data-target="#categories">Categories</a></li>
              <li><a href="/contributors">Contributors</a></li>
              <li><a data-toggle="modal" href="#submitModal">Submit an article</a></li>
              <li><a data-toggle="modal" href="#requestModal">Request an article</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          
          <div class="profile">
            <ul class="unstyled">
              <li>Hello, <strong>indexzero</strong></li>
              <li><a href="#">Profile</a></li>
            </ul>
          </div>
          <!-- /.profile -->
          
<!--
          <div class="profile">
            <ul class="unstyled">
              <li>Not logged in</li>
            </ul>
          </div>
-->
          <!-- /.profile -->
          
        </div>

      </div>
      <!-- /.navbar-inner -->

      <div id="categories" class="collapse in">
      </div>
      <!-- /#categories -->     

    </div>
    <!-- /.navbar -->

    <div class="container" id="main">
    </div> <!-- /container -->
    
    <footer role="contentinfo">
    
      <div class="container">
    
        <div class="copyrights">
          <p>We make node.js accessible to all. And we love Open Source.</p>
          <p>&copy; Company 2012 NodeGuides. Protected by <a href="http://creativecommons.org/">Creative Commons 3.0</a></p>
          
          <p class="powered">Powered by <a href="https://github.com/hubbleio/hubble.io" class="ir">hubble.io<span></span></a></p>           
        </div>
        <!-- / copyrights -->
    
        
        <ul class="navbar unstyled">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Github</a></li>
        </ul>
        
      </div> <!-- /container -->
        
    </footer>
      
    <div class="modal fade" id="requestModal">
      <div class="modal-header">
       <button class="close" data-dismiss="modal"></button>
       <h2>Request an article</h2>
      </div>
      <!-- /modal-header -->
      <div class="modal-body">
        <p>Couldn’t find what you’re looking for? We’re all about helping each other so write down what you’d like to see! </p>
        
        <form action="#" method="post">
          <fieldset>
              <input type="text" id="email" name="email" placeholder="Your email" required />
              <textarea id="question" name="question" placeholder="Your question or problem.." required></textarea>           
            <button type="submit" class=" btn btn-primary medium">Submit request</button>
          </fieldset>
        </form>
      </div>
      <!-- /modal-body -->
    </div>
    <!-- /modal -->
    
     <div class="modal fade" id="submitModal">
      <div class="modal-header">
       <button class="close" data-dismiss="modal"></button>
       <h2>Submit an article</h2>
      </div>
      <!-- /modal-header -->
      <div class="modal-body">
        <p>Couldn’t find what you’re looking for? We’re all about helping each other so write down what you’d like to see! </p>
      
      <div class="alert">
       <button class="close" data-dismiss="alert">×</button>
       <p>But first, it seems that you haven’t logged in yet. <a href="#">Do that with your Github account &rsaquo;</a></p>
      </div>
        
        <form action="#" method="post">
          <fieldset>
              <input type="text" id="title" name="title" placeholder="Title of the article" required />
              <textarea id="short-desc" name="short-desc" placeholder="Short description of the article" required></textarea>     
              <div class="article-content">
                <a href="#" class="btn">Preview the article</a>
                <textarea id="content" name="content" placeholder="Article content" required></textarea> 
              </div>     
              
              <div class="btn-container clearfix">
              
               <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Select difficulty
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                <li><a href="#">Beginner</a></li>
                <li><a href="#">Intermediate</a></li>
                <li><a href="#">Advanced</a></li>
                  <!-- dropdown menu links -->
                </ul>
              </div>
              <!-- btn-group --> 
  
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Choose categories
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                <li><a href="#">Category #1</a></li>
                <li><a href="#">Category #2</a></li>
                <li><a href="#">Category #3</a></li>
                  <!-- dropdown menu links -->
                </ul>
              </div>  
              <!-- btn-group -->            
              </div>
                        
                  
            <button type="submit" class=" btn btn-primary medium">Submit article</button>
          </fieldset>
        </form>
      </div>
      <!-- /modal-body -->
    </div>
    <!-- /modal -->   


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
