<!DOCTYPE html>
<html lang="en">
  <head id="head">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
        
          <div class="large-brand">
              <a href="/" class="logo"></a><a href="/">node<em>guides</em></a>
            </a>
          </div>

          <div class="profile">
          </div>
          <!-- /.profile -->
          
          <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <a class="brand" href="/" id="orgname"></a>
          <div class="nav-collapse">
            <ul class="nav" role="navigation">
              <li><a href="#categories" data-toggle="collapse" data-target="#categories">Categories</a></li>
              <li><a href="/contributors">Contributors</a></li>
              <li><a data-toggle="modal" href="#submitModal">Submit an article</a></li>
              <li><a data-toggle="modal" href="#requestModal">Request an article</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          
        </div>

      </div>
      <!-- /.navbar-inner -->

      <div id="categories" class="collapse in">
      </div>
      <!-- /#categories -->     

    </div>
    <!-- /.navbar -->

    <div class="container" id="main">
    </div> <!-- /container -->
    
    <footer role="contentinfo" id="footer">
    </footer>
      
    <div class="modal fade" id="requestModal">
      <div class="modal-header">
       <button class="close" data-dismiss="modal"></button>
       <h2>Request an article</h2>
      </div>
      <!-- /modal-header -->
      <div class="modal-body">
        <p>Couldn’t find what you’re looking for? We’re all about helping each other so write down what you’d like to see! </p>

        <div class="alert not-loggedin">
         <button class="close" data-dismiss="alert">×</button>
         <p>But first, it seems that you haven’t logged in yet. <a href="/auth/github">Do that with your Github account &rsaquo;</a></p>
        </div>

        <div class="modal-body-dynamic" data-source="/guides/suggestion">
        </div>

      </div>
      <!-- /modal-body -->
    </div>
    <!-- /modal -->
    
    <div class="modal fade" id="submitModal">
      <div class="modal-header">
       <button class="close" data-dismiss="modal"></button>
       <h2>Submit an article</h2>
      </div>
      <!-- /modal-header -->
      <div class="modal-body">
        <p>Couldn’t find what you’re looking for? We’re all about helping each other so write down what you’d like to see! </p>

        <div class="alert not-loggedin">
         <button class="close" data-dismiss="alert">×</button>
         <p>But first, it seems that you haven’t logged in yet. <a href="/auth/github">Do that with your Github account &rsaquo;</a></p>
        </div>

        <div class="modal-body-dynamic" data-source="/guides/new">
        </div>

      </div>
      <!-- /modal-body -->
    </div>
    <!-- /modal --> 

    <div class="modal fade" id="rateModal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"></button>
        <h2>Watch this article</h2>
      </div>

      <div class="alert not-loggedin">
        <button class="close" data-dismiss="alert">×</button>
        <p>But first, it seems that you haven’t logged in yet. <a href="/auth/github">Do that with your Github account &rsaquo;</a></p>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
      </div>

    </div>
    <!-- /modal -->

    <div class="modal fade" id="contactModal">
      <div class="modal-header">
       <button class="close" data-dismiss="modal"></button>
       <h2>Contact Us</h2>
      </div>
      <!-- /modal-header -->
      <div class="modal-body">
        <p>Write your message: </p>

        <div class="alert not-loggedin">
         <button class="close" data-dismiss="alert">×</button>
         <p>But first, it seems that you haven’t logged in yet. <a href="/auth/github">Do that with your Github account &rsaquo;</a></p>
        </div>

        <div class="modal-body-dynamic" data-source="/contact">
        </div>

      </div>
      <!-- /modal-body -->
    </div>
    <!-- /modal -->


   <script src="/js/jquery.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
