<div class="row-fluid content">

  <div class="span8 article-status" role="main">
    <article>
      <h1>Your article submissions</h1>
      <ul class="unstyled" id="article-requests">

        <li class="article-request"><a href="#" class="article-request-link">› Nam luctus aliquam tincidunt. Maecenas at nisi purus, nec posuere diam. </a>
        <span class="label">Approved</span>
        </li>
        
      </ul>

    </article>
  </div>
  <!-- /.span8 -->      
  
  <div class="span4" role="complementary">
  </div>
  <!-- /.span4 -->

</div>