<div class="row-fluid content">

  <div class="span8 article-status" role="main">
    <article>
      <h1>Your article requests</h1>
      <ul class="unstyled" id="article-requests">
        
        <!--
        <li><a href="#">› Etiam lacinia, nulla eu interdum venenatis, sapien dolor egestas leo, et iaculis orci augue ac velit. </a><span class="label label-success">Approved</span></li>
        <li><a href="#">› Donec sollicitudin sem tortor. Duis ut pellentesque mi. </a><span class="label label-important">Rejected</span></li>
        <li><a href="#">› Nam luctus aliquam tincidunt. Maecenas at nisi purus, nec posuere diam. </a><span class="label">Pending</span></li>
        <li><a href="#">› Etiam lacinia, nulla eu interdum venenatis, sapien dolor egestas leo, et iaculis orci augue ac velit. </a><span class="label label-success">Approved</span></li>
        <li><a href="#">› Donec sollicitudin sem tortor. Duis ut pellentesque mi. </a><span class="label label-important">Rejected</span></li>
        <li><a href="#">› Nam luctus aliquam tincidunt. Maecenas at nisi purus, nec posuere diam. </a><span class="label">Pending</span></li>
        <li><a href="#">› Etiam lacinia, nulla eu interdum venenatis, sapien dolor egestas leo, et iaculis orci augue ac velit. </a><span class="label label-success">Approved</span></li>
        <li><a href="#">› Donec sollicitudin sem tortor. Duis ut pellentesque mi. </a><span class="label label-success">Approved</span></li>
      -->
      </ul>

    </article>
  </div>
  <!-- /.span8 -->      
  
  <div class="span4" role="complementary">
    <h2>About the author</h2>
    <div class="contributor clearfix">
      <img src="img/.jpg" width="65" height="65" alt="">
      <div class="meta">
        <h3>John Doe</h3>
        <ul class="unstyled clearfix">
          <li><a href="#" title="Twitter account">Twitter</a></li>
          <li><a href="#" title="Github account">Github</a></li>
          <li>15 guides written</li>
        </ul>               
      </div>
      <!-- /.meta -->
      
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam lacinia mauris vel nibh viverra facilisis. Integer iaculis suscipit lacus, at porta nisi pharetra in. Quisque ut condimentum elit.</p>

      </div>
      
  </div>
  <!-- /.span4 -->

</div>