<div class="row-fluid content">

  <div class="span8 article-status" role="main">
    <article>
      <h1>Your article requests</h1>
      <ul class="unstyled" id="article-requests">
        
        <!--
        <li><a href="#">› Etiam lacinia, nulla eu interdum venenatis, sapien dolor egestas leo, et iaculis orci augue ac velit. </a><span class="label label-success">Approved</span></li>
        <li><a href="#">› Donec sollicitudin sem tortor. Duis ut pellentesque mi. </a><span class="label label-important">Rejected</span></li>
        <li><a href="#">› Nam luctus aliquam tincidunt. Maecenas at nisi purus, nec posuere diam. </a><span class="label">Pending</span></li>
        <li><a href="#">› Etiam lacinia, nulla eu interdum venenatis, sapien dolor egestas leo, et iaculis orci augue ac velit. </a><span class="label label-success">Approved</span></li>
        <li><a href="#">› Donec sollicitudin sem tortor. Duis ut pellentesque mi. </a><span class="label label-important">Rejected</span></li>
        <li><a href="#">› Nam luctus aliquam tincidunt. Maecenas at nisi purus, nec posuere diam. </a><span class="label">Pending</span></li>
        <li><a href="#">› Etiam lacinia, nulla eu interdum venenatis, sapien dolor egestas leo, et iaculis orci augue ac velit. </a><span class="label label-success">Approved</span></li>
        <li><a href="#">› Donec sollicitudin sem tortor. Duis ut pellentesque mi. </a><span class="label label-success">Approved</span></li>
      -->
      </ul>

    </article>
  </div>
  <!-- /.span8 -->      
  
  <div class="span4" role="complementary">
  </div>
  <!-- /.span4 -->

</div>