<ul class="breadcrumb">
  <li class="breadcrumb-element"><a class="category-name" href=""></a> <span class="divider">/</span></li>
</ul>

<div class="row-fluid content">
  <div class="span8" role="main">
    <article>
      
      <!-- Readability -->
      <div class="rdbWrapper" data-show-read="1" data-show-send-to-kindle="1" data-show-print="1" data-show-email="1" data-version="1"></div><script type="text/javascript"> (function() { var s = document.getElementsByTagName("script")[0], rdb = document.createElement("script"); rdb.type = "text/javascript"; rdb.async = true; rdb.src = document.location.protocol + "//www.readability.com/embed.js"; s.parentNode.insertBefore(rdb, s); })(); </script>
      <!-- /Readability -->

      <div class="article-body"></div>
      <div class="button-container">
        <a href="/left" class="left btn btn-primary">Previous article</a>
        <a href="/right" class="right btn btn-primary">Next article</a>
      </div>
    </article>
  </div>
  <!-- /.span8 -->      

  <div class="span4" role="complementary">
    <h2>Authors</h2>
    <div class="author">
      <div class="contributor clearfix">
        <div class="author-info"></div>
      </div>
      <h3 class="other-articles-title"></h3>
      <ul class="short-list">
        <li class="short-list-article"><a class="short-list-article-link" href=""></a></li>
      </ul>
    </div>
  </div>
  <!-- /.span4 -->

  <div class="span4">
    <div class="actions">
      <a href="" class="btn star"><span></span>Star this article</a>
      <a href="" class="btn fork"><span></span>Fork it</a>
      <a href="/to-github" class="btn github"><span></span>In GitHub</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="nodejitsu">Tweet</a>
    </div>
    <!-- /.actions -->
  </div>

</div>
<!-- / row -->

<div class="modal fade" id="forkModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal"></button>
    <h2>Fork this article</h2>
  </div>

  <div class="alert not-loggedin">
    <button class="close" data-dismiss="alert">×</button>
    <p>But first, it seems that you haven’t logged in yet. <a href="/auth/github">Do that with your Github account &rsaquo;</a></p>
  </div>

  <div class="modal-body">
  </div>

  <div class="modal-footer">
  </div>

</div>