{
  "orgname": "hubble.io",
  "title": "Hubble.IO",
  "tagline": "Documentation powered by GitHub and Node.js",
  "description": "Hubble.IO makes guides publications easier",
  "content": {
    "home": {
      "beginner": "Beginner Intro",
      "intermediate": "Intermediate Intro",
      "expert": "Expert Intro"
    }
  },
  "auth": {
    "github": {
      "callback_uri": "http://localhost:8080/auth/github/callback", 
      "client_id": "----client id----",
      "secret": "----secret-----"
    }
  },
  "db": {
    "url": "http://localhost:5984"
  },
  "email": {
    "sendgrid": {
      "user": "me@me.com",
      "key": "some secret key"
    }
  }
}