<div class="box">
  <div class="info">
  </div>
  <!-- /.meta -->
  
  <div class="articles">
    <h3>Articles</h3>
    <ul class="unstyled some-articles">
      <li class="article"><a class="article-link" href=""></a></li>
    </ul>
    
    <ul class="all-articles unstyled collapsed" id="all-articles-1" style="display:none">
      <li class="article"><a class="article-link" href=""></a></li>
    </ul>
    
    <div class="box-button">
      <button class="btn btn-all-articles" data-target="all-articles-target">See all articles</button>
    </div>
    
  </div>
 <!-- /.articles -->
</div>
<!-- /.box.member -->