<ul class="breadcrumb">
  <li class="breadcrumb-element"><a class="breadcrumb-name" href=""></a> <span class="divider">/</span></li>
</ul>

<div class="row-fluid content">

  <div class="span8" role="main">
    <h1 class="title">Streams</h1>
    <!--
    <p class="intro">Here you can find all guides on beginner level, they will get you started with Node in no time!</p>
  -->
   
    
    <section class="level-articles">
      <div class="article">
        <div class="article-short">
          <h3><a href="" class="title"></a></h3>
          <p class="meta">Written by <span class="author"><a class="author-name" href="#"></a></span> <span class="when"></span></p>
          <p class="description"></p>                
        </div>
        <!-- /.article-short -->
        <div class="buttons">
          <p><a href="/star" class="btn star"><span></span>Star it</a></p>
          <p><a href="/to-article" class="btn btn-primary">Read the guide</a></p>
        </div>
        <!-- /.buttons -->
      </div>
        <!-- /.article -->
    </section>
    <!-- /.level-articles -->
  </div>
  <!-- /.span8 -->      
  
  <div class="span4" role="complementary">
    <h2>Dummy content</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam lacinia mauris vel nibh viverra facilisis. Integer iaculis <a href="#">suscipit lacus</a>, at porta nisi pharetra in. Quisque ut condimentum elit.</p>
  </div>
  <!-- /.span4 -->

</div>
<!-- / row -->