<div class="span4 member">
  <div class="box">
    <img class="avatar" src="img/.jpg" width="65" height="65" alt="">
    <div class="meta">
      <h3 class="name">John Doe</h3>
      <p class="role">Coder</p>
      <ul class="unstyled clearfix">
        <li class="twitter"><a class="twitter-a" href="#" title="Twitter account">Twitter</a></li>
        <li class="github"><a class="github-a" href="#" title="Github account">Github</a></li>
      </ul>               
    </div>
    <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra risus eget felis sodales varius. Donec feugiat vehicula adipiscing. Praesent lacus ante.</p>
  </div>
  <!-- /.box.member -->
</div>
<!-- /.span4 -->